::-webkit-scrollbar {
  width: 0rem; 
  height: 0rem; 
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

/* Hide scrollbar indicators for Firefox */
.scrollbar {
  scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar-thumb {
  display: none; /* Hide scrollbar and thumb */
}
