/* Hide scrollbar indicators for WebKit (Chrome and Safari) */
::-webkit-scrollbar {
  width: 0.5rem; /* Set a small width for the scrollbar track */
  height: 0.5rem; /* Set a small height for the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background-color: transparent; /* Hide the thumb */
}

/* Hide scrollbar indicators for Firefox */
.scrollbar {
  scrollbar-width: thin;
}

.scrollbar::-webkit-scrollbar,
.scrollbar::-webkit-scrollbar-thumb {
  display: none; /* Hide scrollbar and thumb */
}
